@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

    html {
        font-family: 'Inter', sans-serif;
    }

    body::-webkit-scrollbar {
        width: 7px;
    }

    body::-webkit-scrollbar-track-piece {
        margin: 4px 0;
    }

    body::-webkit-scrollbar-thumb {
        max-height: 80px;
        border-radius: 1rem;
        background-color: #161616;
    }
}