@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

    html {
        font-family: 'Inter', sans-serif;
    }

    body::-webkit-scrollbar {
        width: 7px;
    }

    body::-webkit-scrollbar-track-piece {
        margin: 4px 0;
    }

    body::-webkit-scrollbar-thumb {
        max-height: 80px;
        border-radius: 1rem;
        background-color: #161616;
    }
}

@layer utilities { 
    button.simple-active {
        @apply text-white border-orange-200 bg-orange-200;
    }

    button.luxury-active {
        @apply text-white border-black bg-black;
    }

    button.rugged-active {
        @apply text-white border-cyan bg-cyan;
    }
}